:root {
    --black: #000000;
    --orange: #ff8800;
}

body {
    background-color: var(--black);
}

.ball {
    width: 200px;
    height: 200px;
    background-color: var(--orange);
    border-radius: 100px;
}
